#contenedor {
  width:1100px;
  height: 100%;
  background-color: #fdf5da;
  margin: auto;
  position: auto;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #ff8d30;
  text-align: right;
}
nav li {
  text-decoration: none;
  display: inline;
}
#buscador {
  float: right;
}
article {
  width: 58%;
  margin-left: 1em;
  float:left;
 }
 article >img{
   width:100%;
 }
article >h1{
    font-weight: bold;
    font-size: 3em;
}

section {
  width: 34%;
  float: right;
  margin-right:1em;
}
.hsection{
    color:white;
    background-color:#ff8d30;
    clear: both;
    margin:0;
}
.cuadradito {
  border:solid 1px #ff8d30;
  margin-right:0.5em;
  margin-bottom:1em;
}
.cuadradito> p {
  width:60%;
  float:right;
 
}
.cuadradito > img {
  margin:1em,1em,1em,1em;
 
  

}


#fotos {
  display: flex;
  width: 55%;
}
/*OVERLAY DE LA IMAGEN*/

.container {
  position: relative;
  float: left;
  margin-left:0.5em;
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
}

/*FIN DEL OVERLAY*/
footer {
  width: 100%;
  clear: both;
  background-color: #7e7c7f;
  margin-top: 2em;
  color: white;
}
#menufooter {
  text-decoration: underline;
  display: flex;
  justify-content: flex-end;
}
#buscador {
  border: round solid #ff8d30 0.5px;
}

.raya {
  border-bottom: solid 1px black;
}

label {
  display: inline-block;
  clear: left;
}
input {
  display: inline-block;
  border: solid 1px #ff8d30;
  margin-bottom: 0.5em;
}
.centro {
  text-align: center;
}
#radio {
  float: left;
  margin-left: 3em;
}
#boxes {
  float: left;
}

select {
  margin-top: 1em;
  border: solid 1px #ff8d30;
}
.sub {
  background-color: #ff8d30;
  color: white;
}
