#contenedor {
  width:1100px;
  height: 100%;
  background-color: #fdf5da;
  margin: auto;
  position: auto;
  font-family:Arial, Helvetica, sans-serif;
}

nav {
  background-color: #ff8d30;
  text-align: right;
}
nav li {
  text-decoration: none;
  display: inline;
}
#buscador {
  float: right;
}
article {
  width: 58%;
  margin-left:1em;
  float:left;
 }
 article > p{
   font-size:12px;
   margin-left:0.5em;
   padding-bottom:1em;
   padding-top:1em;

 }
 article >img{
   width:100%;
   margin:1em;
 }
article >h1{
    font-weight: bold;
    font-size: 3em;
    margin-bottom:0.5em;
}
h2{
  margin-top:1em;
}

section {
  width: 34%;
  float: right;
  margin-right:1em;
}
.hsection{
    color:white;
    background-color:#ff8d30;
    clear: both;
    margin:0;
    font-size:20px;
}
.cuadradito {
  border:solid 1px #ff8d30;
  margin-right:0.5em;
  margin-bottom:1em;
  margin-top:1em;
}
.cuadradito> p {
  width:60%;
  float:right;
  font-size:14px;
  margin-top:0.5em;
   
}
.cuadradito > img {
  margin:0.5em;
}


#fotos {
  display: flex;
  width: 55%;
}
/*OVERLAY DE LA IMAGEN*/

.container {
  position: relative;
  float: left;
  margin-left:0.5em;
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
}

/*FIN DEL OVERLAY*/
footer {
  width: 100%;
  clear: both;
  background-color: #7e7c7f;
  margin-top: 2em;
  color:white;
}
#menufooter {
  text-decoration: underline;
  display: flex;
  justify-content: flex-end;
}
#buscador {
  border: round solid #ff8d30 0.5px;
}

.raya {
  border-bottom: solid 1px black;
}

/*PARA PONER LOS ICONITOS DE ABAJO*/
#navlist {
  position: relative;
}

#navlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}

#navlist li, #navlist a {
  height: 44px;
  display: block;
}

#fac {
  left: 0px;
  width: 46px;
  background: url('imagenes/media.png') 0 0;
}

#twi {
  left: 63px;
  width: 43px;
  background: url('imagenes/media.png') -47px 0;
}

#pin{
  left: 129px;
  width: 43px;
  background: url('imagenes/media.png') -91px 0;
}
#gog{
  left: 195px;
  width: 43px;
  background: url('imagenes/media.png') -91px 0;
}

#gog a:hover {
  background: url('imagenes/media.png') 0 -45px;
}

#twi a:hover {
  background: url('img_navsprites_hover.gif') -47px -45px;
}

#pin a:hover {
  background: url('img_navsprites_hover.gif') -91px -45px;
}
#gog a:hover {
  background: url('img_navsprites_hover.gif') -91px -45px;
}
/*FIN DEL CSS PARA PONER LOS ICONITOS*/
label {
  display: inline-block;
  clear: left;
}
input {
  display: inline-block;
  border: solid 1px #ff8d30;
  margin-bottom: 0.5em;
}
.centro {
  text-align: center;
}
#radio {
  float: left;
  margin-left: 3em;
}
#boxes {
  float: left;
}

select {
  margin-top: 1em;
  border: solid 1px #ff8d30;
}
.sub {
  background-color: #ff8d30;
  color: white;
}
