        /* CONTENEDOR*/
        
        #contenedor {
            width: 1100px;
            height: 100%;
            background-color: #fdf5da;
            margin: auto;
            font-family: Arial, Helvetica, sans-serif;
        }
        /*HEADER*/
        
        header {
            background-color: #ff8d30;
            padding-top: 5rem;
            position: relative;
            border-bottom: solid 2px black;
        }
        /*MENU DEL HEADER*/
        
        nav ul {
            display: flex;
            list-style: none;
            justify-content: flex-end;
            flex-direction: row;
        }
        
        nav li {
            float: right;
            background-color: #FFC492;
            border-right: solid 1px black;
            height: 3em;
        }
        
        .ct {
            float: right;
            background-color: #FFC492;
            height: 3em;
        }
        
        nav a {
            text-decoration: none;
            color: white;
            margin-right: 1em;
            margin-left: 1em;
            vertical-align: middle;
        }
        
        .noticias {
            width: 34em;
            text-align: right;
        }
        /*PARA LA FOTO DE SUPER WEB*/
        
        .logo {
            display: block;
            position: absolute;
            left: 150px;
            width: 387px;
            height: 270px;
            top: 10px;
            background: url("../imagenes/logo.png") no-repeat;
            text-indent: -90000px;
        }
        /*PARA EL BUSCADOR*/
        
        #buscador {
            border: solid 0.5px #ff8d30;
            border-radius: 0.5em;
            margin-left: 800px;
            height: 2em;
            width: 18em;
            background-color: #FEF4DB;
        }
        
         ::placeholder {
            margin-left: 2em;
            font-style: italic;
        }
        /*SOMBRA PARA LA LUPA*/
        
        .lupa {
            /* background-color: #E0DEC6;*/
            background-image: url('../imagenes/lupa.png');
            height: 25px;
            width: 25px;
            background-repeat: no-repeat;
        }
        /*ARTICLE*/
        
        article {
            width: 58%;
            margin-left: 1em;
        }
        
        article>p {
            margin-left: 0.5em;
            padding-top: 1em;
            font-size: 16px;
        }
        
        .parraf {
            font-size: 12px;
            padding-bottom: 1em;
        }
        
        article>img {
            width: 95%;
            margin: 0.3em;
            margin-top: 1em;
        }
        
        article>h1 {
            font-weight: bold;
            font-size: 2.5em;
            margin-bottom: 0.5em;
            margin-left: 0.5em;
        }
        /*PARA EL TEXTO DEL ARTICLE*/
        
        #main {
            display: flex;
            flex-flow: nowrap;
        }
        /*H2*/
        
        h2 {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        /*PARA LAS RAYAS DEL ARTICLE*/
        
        .rayina {
            border-bottom: solid 1px black;
            font-size: 10px;
        }
        
        .raya {
            border-bottom: solid 1px black;
            font-weight: bold;
        }
        /*PARA LA SECTION*/
        
        section {
            width: 38%;
            margin-right: 1em;
            margin-left: 4em;
        }
        
        .hsection {
            color: white;
            background-color: #ff8d30;
            font-size: 20px;
        }
        /*PARA LOS RECTANGULOS DONDE VAN LAS FOTOS DEL CUÑAO Y SU TEXTO*/
        
        .cuadradito {
            border: solid 1px #ff8d30;
            margin-right: 0.3em;
            margin-bottom: 1em;
            margin-top: 1em;
            margin-left: 0.3em;
            width: auto;
        }
        
        .cuadradito>p {
            width: 60%;
            float: right;
            font-size: 14px;
            margin: 0.4em;
        }
        /*MARGEN PARA LA FOTO DEL CUÑAO*/
        
        .cuadradito>img {
            margin: 0.2em;
        }
        /*PARA EL DIV DE LAS FOTOS CON OVERLAY*/
        
        #fotos {
            display: flex;
            width: 55%;
            margin-bottom: 3em;
        }
        /*OVERLAY DE LA IMAGEN*/
        
        .container {
            position: relative;
            float: left;
            margin-left: 0.5em;
            margin-top: 0.3em;
        }
        
        .container .content {
            position: absolute;
            /* Position the background text */
            bottom: 0;
            /* At the bottom. Use top:0 to append it to the top */
            background: rgb(0, 0, 0);
            /* Fallback color */
            background: rgba(0, 0, 0, 0.5);
            /* Black background with 0.5 opacity */
            color: #f1f1f1;
            /* Grey text */
        }
        
        .container .content :hover {
            position: relative;
            /* Position the background text */
            bottom: 0;
            /* At the bottom. Use top:0 to append it to the top */
            background: rgb(0, 0, 0);
            /* Fallback color */
            background: rgba(0, 0, 0, 0.5);
            /* Black background with 0.5 opacity */
            color: #f1f1f1;
            /* Grey text */
        }
        /*PARA EL FOOTER*/
        
        footer {
            width: 100%;
            background-color: #7e7c7f;
            color: white;
        }
        
        #menufooter {
            text-decoration: underline;
            margin-left: 40em;
        }
        
        #menufooter li {
            display: inline;
            margin-right: 2em;
        }
        
        #menufooter a {
            color: white;
        }
        /*PARA COLOCAR LOS DATOS DEL FOOTER*/
        
        .pf {
            margin-bottom: 1em;
            margin-top: 2em;
            margin-left: 2em;
            color: white;
        }
        
        address {
            margin-bottom: 1em;
            margin-left: 2em;
            text-align: left;
            color: white;
        }
        /*PARA PONER LOS ICONITOS DE ABAJO*/
        
        #navlist {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-right: 1em;
        }
        
        #navlist li {
            list-style: none;
            margin-right: 0.5em;
            margin-top: 0.5em;
            display: flex;
        }
        
        #navlist a {
            text-indent: 9000px;
            height: 45px;
            width: 45px;
            display: block;
            overflow: hidden;
        }
        
        #fac {
            left: 0px;
            width: 45px;
            background: url("../imagenes/media.png") 0 0;
        }
        
        #twi {
            left: 90px;
            width: 45px;
            background: url("../imagenes/media.png") -45px 0;
        }
        
        #pin {
            left: 135px;
            width: 45px;
            background: url("../imagenes/media.png") -90px 0;
        }
        
        #gog {
            left: 180px;
            width: 45px;
            background: url("../imagenes/media.png") -135px 0;
        }
        /*HOVER DE LOS ICONITOS*/
        
        #fac a:hover {
            background: url("../imagenes/media.png") 0 -45px;
        }
        
        #twi a:hover {
            background: url("../imagenes/media.png") -45px -45px;
        }
        
        #pin a:hover {
            background: url("../imagenes/media.png") -90px -45px;
        }
        
        #gog a:hover {
            background: url("../imagenes/media.png") -135px -45px;
        }
        /*///////////////////////////////CONTACTO////////////////////////////////////////////*/
        /*PARA CENTRAR Y ADORNAR EL H1 FORMULARIO DE DATOS PERSONALES*/
        
        #contenedorct {
            background-color: #FFF7DE;
            width: 1100px;
            height: 100%;
            margin: auto;
        }
        
        .hct {
            font-weight: bold;
            font-size: 1.5em;
            margin-top: 6em;
            margin-left: 5em;
        }
        /*DIV DE DATOS PERSONALES*/
        
        .personales {
            margin-left: 15em;
            width: auto;
            border-bottom: solid 2px orange;
        }
        /*PARA CENTRAR H1 DATOS PERSONALES*/
        
        .centro {
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
        }
        
        .haficiones {
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            margin-left: 5em;
        }
        
        .lin {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        
        #telefono {
            width: 16em;
        }
        
        .email {
            width: 2.5em;
            margin-left: 1em;
        }
        
        #email {
            width: 19.5em;
            margin-bottom: 1em;
        }
        /*PARA COLOCAR LAS LABELS Y LOS INPUTS*/
        
        label {
            display: block;
            margin-right: .1em;
            margin-top: 0.5em;
            text-align: left;
        }
        
        label>span {
            display: inline-block;
            width: 6em;
        }
        
        .personal {
            border: solid 2px #ff8d30;
            width: 40em;
        }
        /*DIV DE LAS AFICIONES*/
        
        .aficiones {
            display: flex;
            flex-direction: row;
            justify-content: center;
            border-bottom: solid 2px orange;
            width: auto;
        }
        /*DIV DE LOS CHECKBOXES*/
        
        #boxes {
            padding-right: 5em;
        }
        /*DIV DE LOS RADIOBUTTONS*/
        
        #radio {}
        /*PARA LOS SELECTS*/
        
        select {
            border: solid 2px #ff8d30;
            width: 12em;
            margin-bottom: 1em;
        }
        /*PARA EL TEXTAREA*/
        
        .area {
            margin-left: 14em;
        }
        
        textarea {
            border: solid 2px orange;
            overflow: auto;
            margin-left: 1em;
            margin-bottom: 1em;
        }
        /*PARA EL BOTON SUBMIT*/
        
        input[type=submit] {
            background-color: #ff8d30;
            color: white;
            width: 8em;
            margin-top: 1em;
            margin-left: 20em;
            margin-bottom: 1em;
        }
        
        h3.comen {
            margin-top: 1em;
            margin-left: 1em;
        }
        
        .opc {
            width: 2em;
            margin-right: 2em;
        }